<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>One+One</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- $.cookie is not a function 에러발생시 추가 스크립트 -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- 자바스크립트 함수 통합파일 -->
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>
    <script>
        // 자바스크립트 함수 통합파일 내에 get_post 함수를 사용
        $(document).ready(function () {
            get_beverages()
        })
    </script>

    <meta property="og:title" content="One + One" />
    <meta property="og:description" content="Convenient page for Convenience store 1+1 event" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

</head>

<body>
<div class="jumbotron jumbotron-fluid">
    <div onclick="window.location.href='/'" class="container" style="cursor:pointer">
        <h1 class="display-4">One+One</h1>
        <p class="lead">! Convenient page for Convenience store 1+1 event !</p>
    </div>
    <div class="inout">
        <button onclick="window.location.href='/login'" class="inout-btn" style="cursor:pointer">
            <i class="fa fa-sign-in" aria-hidden="true"></i>LogIN
        </button>
        <button onclick="onClickLogOut()" class="inout-btn" style="cursor:pointer">
            <i class="fa fa-sign-out" aria-hidden="true"></i>LogOUT
        </button>
    </div>
</div>
<div class="buttons">
    <button onclick="location.href='/'" class="button is-primary is-light"> ALL</button>
    <button onclick="handleButtonClick('CU')" class="button is-link is-light">CU</button>
    <button onclick="handleButtonClick('GS25')" class="button is-info is-light">GS25</button>
    <button onclick="handleButtonClick('7-ELEVEN')" class="button is-success is-light">7-ELEVEN</button>
    <button onclick="handleButtonClick('MINISTOP')" class="button is-warning is-light">MINISTOP</button>
    <button onclick="handleButtonClick('EMART24')" class="button is-danger is-light">EMART24</button>
</div>

<div class="cards" id="post-box">
{#    <div id=${eachId} class="card" style="width: 18rem; height: 25rem;">#}
{#        <p class="card_cvs" id="cvs_name">${conveni_store}</p>#}
{#        <img class="card-img-top" src="${product_img}" alt="Card image cap">#}
{#        <div class="card-body">#}
{#            <p class="product_name">${product_name}</p>#}
{#            <span class="price_like">#}
{#                ${product_price}₩#}
{#               <button class="btn btn-outline" aria-label="heart"#}
{#                       onclick='toggle_like("${eachId}")'>#}
{#                   <i class="fa ${class_heart}" aria-hidden="true">#}
{#                   <span class="like-num">${likeCounts}</span></i>#}
{#               </button>#}
{#            </span>#}
{#        </div>#}
{#    </div>#}
</div>


</body>
</html>